
<html>
<head>

</head>
<body>
<h1 style="text-align:center">Please choose your resume and then click on upload  </h1>

<form  action="/" method = "POST" enctype= "multipart/form-data">
    <div class = "form-group">
<!--        <label>Select pdf</label>-->
        <div style="text-align:center" class = "custom-file">
         <input type="file" id="myFile" name="filename" class = "custom-file-input">

            <button type="submit" class = "btn btn-primary"> Upload</button>
<!--            <label class = "custom-file-label" for = "pdf">Select pdf...</label>-->
        </div>
    </div>

<!--.button{-->
<!--    margin: 20px;-->
<!--}-->


</form>

</body>

</html>

